@import "tailwindcss";

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
.testimonials-swiper {
  padding: 20px 0;
}
.testimonials-swiper .swiper-slide {
  height: auto;
}
.testimonials-swiper .swiper-slide-next::after,
.testimonials-swiper .swiper-slide-prev::after {
  display: none;
}
.swiper-slide-next,
.swiper-slide-prev {
  display: none;
}
.swiper-button-next-custom.swiper-button-disabled,
.swiper-button-prev-custom.swiper-button-disabled {
  opacity: 0;
  cursor: not-allowed;
}

@layer utilities {
  .section-container {
    @apply max-w-7xl mx-auto mt-10 px-4 sm:px-6 lg:px-8;
  }
}
